
  <footer class="footer pt-5 mt-5">
    <hr class="horizontal dark mb-5">
    <div class="container">
      <div class=" row">
        <div class="col-12">
          <div class="text-center">
            <p class="my-4 text-sm">
              The best newspaper agency!
              - Coded by <a target="_blank" href="https://github.com/KravchenkoSerhiii/newspaper-agency" target="_blank">Serhii Kravchenko</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  