{% extends "base.html" %}

{% block content %}
  <h1>Newspapers List</h1>
  <a href="{% url 'newspaper:newspaper-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>

  {% if newspaper_list %}
    {% for newspaper in newspaper_list %}
      <ul>
        <li>
          <a href="{% url 'newspaper:newspaper-detail' pk=newspaper.id %}">{{ newspaper.title }}</a> : {{ newspaper.topic }} ({{ newspaper.published_date }})
        </li>
      </ul>
    {% endfor %}

  {% else %}
    <p>There no redactors in Agency</p>
  {% endif %}
{% endblock %}