{% extends "layouts/base-fullscreen.html" %}

{% block content %}
  <h1>
    <a href="{% url 'newspaper:redactor-delete' pk=redactor.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
    <br>
    <a href="{% url 'newspaper:redactor-update' pk=redactor.id %}" class="btn btn-primary link-to-page">
      Update
    </a>
  </h1>
  <p><strong>First name:</strong> {{ redactor.first_name }}</p>
  <p><strong>Last name:</strong> {{ redactor.last_name }}</p>
  <p><strong>Years of experience:</strong> {{ redactor.years_of_experience }}</p>
  <p><strong>Newspapers:</strong></p>
  {% for newspapers in redactor.newspapers.all %}
    <li>
      {{ newspapers.title }}
    </li>
  {% endfor %}
  <a href="{% url 'newspaper:redactor-list' %}" class="btn bg-gradient-dark w-auto me-2">
        Go back
  </a>
{% endblock %}
